.searchFieldContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}
.searchField {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f3f4f6;
  color: #4b5563;
  font-size: 1rem;
}

.SearchotFound {
  color: red;
  font-size: 1rem;
  text-align: center;
}
.select {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f3f4f6;
  color: #4b5563;
  font-size: 1rem;
}
.option {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f3f4f6;
  color: #4b5563;
  font-size: 1rem;
}
