.addDocArea {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1500;
}

.addDocArea .addDocForm {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: right;
}

.addDocArea .addDocForm h2 {
  margin-bottom: 1.5rem;
  color: #2c3e50;
  font-size: 1.5rem;
  text-align: center;
}

.addDocArea .addDocForm label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
}

.addDocArea .addDocForm input[type="text"] {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  direction: rtl;
}

.addDocArea .addDocForm input[type="file"] {
  width: 100%;
  margin-bottom: 1rem;
  direction: rtl;
}

.addDocArea .addDocForm button {
  width: 100%;
  padding: 0.75rem;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addDocArea .addDocForm button:hover {
  background-color: #2980b9;
}

.addDocArea .addDocForm button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}
.docsOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.addOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(122, 122, 122, 0.5);
  z-index: -1;
}

.documentsArea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  height: 90vh;
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  z-index: 101;
}

.documentsArea header {
  display: flex;
  justify-content: space-between;
}

.documentsArea h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}

.documentsArea button {
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
}

.doc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.doc h3 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.doc a {
  color: #3498db;
}
