.financeContainer {
    padding: 20px;
    height: 100%;
    width: 100%;
  }
  
  .financeTable {
    height: 600px;
    width: 100%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .dataGrid {
    direction: rtl;
  }
  
  .expense {
    color: #d32f2f;
    font-weight: 500;
  }
  
  .income {
    color: #2e7d32;
    font-weight: 500;
  }

  .financeTitle{
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    margin-bottom: 20px;
  }