.headerAddStudentBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -20px 20px 20px 20px;
  font-size: 1rem;
}


.studentCardContainer {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin: 0px 20px 20px 20px;
  transition: all 0.3s ease;
}

.studentCardContainer:hover {
  background-color: #eeeeee;
}

.urgencyLevel {
  width: 8px;
  height: 60px;
  border-radius: 4px;
  margin-right: 20px;
}

.studentName {
  flex: 2;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  color: #333;
}

.studentSchoolAndClass {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.city,
.class {
  margin: 0;
  color: #666;
}

.city {
  font-size: 1rem;
  font-weight: 500;
}

.class {
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 4px;
}

.btns {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.editBtn,
.deleteBtn,
.docsBtn,
.interventionsBtn {
  padding: 0.9rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px; /* קובע רוחב אחיד לכל הכפתורים */
  white-space: nowrap;
}

.editBtn {
  background-color: #4caf50;
  color: white;
}

.deleteBtn {
  background-color: #f44336;
  color: white;
}

.docsBtn {
  background-color: #cd21f3;
  color: white;
}

.interventionsBtn {
  background-color: #ffc107;
  color: black;
}

.editBtn:hover,
.deleteBtn:hover,
.docsBtn:hover,
.interventionsBtn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}


@media (max-width: 1200px) {
  .studentCardContainer {
    flex-wrap: wrap;
  }

  .studentName,
  .studentSchoolAndClass {
    flex: 1 1 100%;
    margin-bottom: 15px;
  }

  .btns {
    flex: 1 1 100%;
    justify-content: flex-start;
    margin-left: 0;
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .btns {
    flex-wrap: wrap;
  }

  .editBtn,
  .deleteBtn,
  .docsBtn,
  .interventionsBtn {
    flex: 1 1 calc(50% - 5px);
    margin: 5px 0;
  }
}

.box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  padding-bottom: 2rem;
}

.formControl {
  width: 130px;
  margin: 10px;
  background-color: #fff;
}

/* סטיילים נוספים */

.deleteFormArea,
.editStudentArea {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 800;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  max-height: 90vh;
}

.deleteForm,
.editStudentForm {
  transform-origin: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8; /* צבע רקע בהיר */
  padding: 1.5rem;
  border-radius: 8px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  max-width: 400px;
}
@media (max-height: 670px) {
  .deleteForm,
  .editStudentForm {
    transform: scale(0.9);
  }
}
@media (max-height: 600px) {
  .deleteForm,
  .editStudentForm {
    transform: scale(0.8);
  }
}

.h1 {
  text-align: center;
  color: #333;
  font-size: 1.5rem; /* הקטנת גודל הכותרת */
  margin-bottom: 0.5rem;
}

.h3 {
  text-align: center;
  color: red;
  font-size: 1rem; /* הקטנת גודל הטקסט */
  margin-bottom: 1rem;
}

.label {
  margin: 10px 0 5px;
  font-weight: bold;
}

.input,
.textarea,
.select {
  padding: 0.75rem;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.input:disabled,
.select:disabled {
  background-color: #e9ecef;
  color: #6c757d;
  cursor: not-allowed;
}

/* .selectSort{
  padding: 0.75rem;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
} */

.textarea {
  height: 80px;
  resize: none; /* מאפשר שינוי גובה */
  max-height: 120px; /* הגובה המקסימלי של השדה */
  overflow-y: auto; /* מאפשר גלילה כאשר הטקסט עובר את הגבול */
}

.continueBtn {
  font-size: 1rem;
  background-color: #007bff; /* צבע רקע לכפתור */
  color: white;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.continueBtn:hover {
  background-color: #0056b3; /* צבע רקע לכפתור בה hover */
}

.overlaySure {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* רקע כהה לשכבת האישור */
  z-index: 900; /* מקם מעל כל אלמנט אחר */
}

.warning {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* מרכז את האזהרה */
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000; /* מקם מעל overlaySure */
}

.h1Warning {
  color: #d9534f; /* צבע אזהרה */
  text-align: center;
}

.lastBtns {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 10px;
}

.deleteStudentBtn,
.cancelBtn {
  flex: 1; /* כל כפתור יתפוס את אותו יחס של מקום */
  font-size: 0.8rem;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center; /* מרכז את הטקסט בכפתור */
}

.deleteStudentBtn {
  background-color: #d9534f; /* צבע רקע לכפתור מחיקה */
  color: white;
}

.updateBtns {
  display: flex;
  flex: 1;
  /* justify-content: space-between; */
  gap: 25px;
}

.updateBtns button {
  flex: 1;
  font-size: 1rem;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.cancelBtn {
  flex: 1;
  background-color: #6c757d; /* צבע רקע לכפתור ביטול */
  color: white;
}

.deleteBtn:hover {
  background-color: #c9302c; /* צבע רקע לכפתור מחיקה בה hover */
}

.cancelBtn:hover {
  background-color: #5a6268; /* צבע רקע לכפתור ביטול בה hover */
}
