/*  cloaud  */

.headerAddStudentBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* background-color: #ffffff; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  position: sticky;
  top: 0;
  z-index: 100;
  margin: -40px 0px 20px 0px;
}

.headerAddStudentBtn .h1 {
  font-size: 1.8rem;
  color: #2c3e50;
  margin: 0;
  font-weight: 700;
}

.studentsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  direction: rtl;
}

.studentCardContainer {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  position: relative;
  overflow: visible; /* Changed from hidden */
  transition: all 0.3s ease;
}

.studentCardContainer:hover {
  transform: translateY(-2px);
}

.student {
  width: 100%;
  transition: transform 0.2s ease;
}

.urgencyLevel {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: width 0.3s ease;
}

.studentName {
  font-size: 1.4rem;
  color: #2c3e50;
  margin: 0 0 1rem 0;
  padding-right: 1rem;
}

.studentSchoolAndClass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding-right: 1rem;
}

.city {
  font-weight: 500;
  opacity: 0.7;
  color: #000000;
  font-size: 0.9rem;
  margin: 0;
}
.class {
  color: #7f8c8d;
  font-size: 0.7rem;
  margin-top: 3px;
}

.optionsCard {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  left: 10px;
  gap: 0.5rem;
}

.optionsCard div {
  cursor: pointer;
  opacity: 0.2;
  transition: all 0.3s ease;
}

.optionsCard div:hover {
  opacity: 1;
  transform: translateX(4px);
}

.moreDetailsIcon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 10px;
  opacity: 0.7;
  font-size: 0.7rem;
  transition: all 0.3s ease;
}

.moreDetailsIcon:hover {
  opacity: 1;
  transform: translateY(2px);
}

.moreDetails {
  margin-top: 30px;
}

.moreDetails p {
  margin: 2px;
  font-size: 0.85rem;
  opacity: 0.7;
  transition: all 0.3s ease;
}

/*  different settings  */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  pointer-events: auto;
}

select:disabled,
textarea:disabled,
input:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

/*  add student  */

.addStudentBtn {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.addStudentBtn:hover {
  background-color: #1e82d3;
}

.addStudentForm {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 1rem;
}

.addStudentForm label {
  margin-bottom: 10px;
}

.addStudentForm input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.8rem;
}

.addStudentForm input:focus {
  outline: none;
  border: 2px solid #1c81d3;
}

.addStudentForm .btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.addStudentForm button {
  flex: 1;
  width: 100%;
  padding: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  max-width: 100px;
}

.addStudentForm .saveBtn {
  background-color: #4caf50;
}

.addStudentForm .cancelBtn {
  background-color: #c1c1c1;
}

.addStudentForm .saveBtn:hover,
.addStudentForm .cancelBtn:hover {
  opacity: 0.8;
}

.addStudentForm .h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.addStudentForm .box {
  min-width: 100%;
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.addStudentForm .formControl {
  flex: 1;
}

.addStudentForm .select {
  min-width: 100%;
  max-height: 3.5rem;
  padding: 0.5rem;
}

/* edit student */

.editStudentForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8; /* צבע רקע בהיר */
  padding: 1.5rem;
  border-radius: 8px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  max-width: 400px;
  z-index: 1000;
}

.editStudentForm label {
  margin: 10px 0 5px;
  font-weight: 600;
}

.editStudentForm input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.8rem;
}

.editStudentForm input:focus {
  outline: none;
  border: 2px solid #1c81d3;
}

.editStudentForm select {
  padding: 0.75rem;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.editStudentForm .updateBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

.editStudentForm .updateBtns button {
  flex: 1;
  width: 100%;
  padding: 0.7rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.7s ease;
  max-width: 80px;
}

.editStudentForm .updateBtns .saveBtn {
  background-color: #4caf50;
}

.editStudentForm .updateBtns .saveBtn:hover {
  background-color: #367e3a;
}

.editStudentForm .updateBtns .cancelBtn {
  background-color: #878787;
}

.editStudentForm .updateBtns .cancelBtn:hover {
  background-color: #515151;
}

/* delete form */
.deleteFormsArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #d9534f; /* Red border for delete action */
  border-radius: 8px;
  background-color: #f8d7da; /* Light red background */
}

/* Form styling */
.deleteFormsArea .deleteForm {
  width: 100%;
  max-width: 400px;
  background-color: white; /* White background for form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */
.deleteFormsArea .h1 {
  color: #721c24; /* Dark red */
  font-size: 24px;
  margin-bottom: 10px;
}

.deleteFormsArea .h3 {
  color: red; /* Dark yellow for warning */
  font-size: 16px;
  margin-bottom: 20px;
}

/* Label styles */
.deleteFormsArea .label {
  font-size: 14px;
  color: #495057; /* Dark gray */
  margin-bottom: 5px;
}

/* Input and textarea styling */
.deleteFormsArea .input,
.deleteFormsArea .textarea,
.deleteFormsArea .select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 14px;
}

/* Specific styles for warning overlay */
.deleteFormsArea .overlaySure {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteFormsArea .warning {
  background: white; /* White background for warning box */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.deleteFormsArea .h1Warning {
  color: #721c24; /* Dark red */
  margin-bottom: 20px;
}

/* Button styles */
.deleteFormsArea .continueBtn,
.deleteFormsArea .deleteStudentBtn,
.deleteFormsArea .cancelBtn {
  background-color: #d9534f; /* Bootstrap danger color */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.deleteFormsArea .continueBtn:hover,
.deleteFormsArea .deleteStudentBtn:hover {
  background-color: #c9302c; /* Darker red on hover */
}

.deleteFormsArea .cancelBtn {
  background-color: #6c757d; /* Bootstrap secondary color */
}

.deleteFormsArea .cancelBtn:hover {
  background-color: #5a6268; /* Darker gray on hover */
}

.deleteFormsArea .lastBtns {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .headerAddStudentBtn {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .studentsContainer {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .btns {
    flex-wrap: wrap;
  }
}
