.App {
  width: 100%; /* שינוי ל-100% עבור רוחב מסך */
  text-align: center;
  background-color: #dbdbdb;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
